cloudinary
fastapi
uvicorn
python-multipart
python-dotenv
pydantic
pillow
pdfplumber
pytesseract
pdf2image
langdetect
sqlalchemy
psycopg2-binary
openai
google-generativeai
alembic
docxtpl
python-docx
passlib
bcrypt==4.0.1
python-jose[cryptography]
pydantic[email]
voyageai